#mainmenu {
	text-align: center;
	background-color: black;
	color: lime;
	padding: 100px;
	margin: 0px;
}

#anhdd {
	width: 500px;
	height: 400px;
}

#daubang {
	background-color: orange;
}
* {
	background-color: #008B8B;
	color: white;
}

nav {
	background-color: #333;
	overflow: hidden;
}

nav a {
	color: white;
	padding: 19px 25px;
	display: block;
	text-align: center;
	text-decoration: none;
	background-color: #333;
}

nav a.menu_left {
	float: left;
}
nav a.menu_right {
	float: right;
}

nav a:hover {
	background-color: #DDD;
	color: #333;
}

#flex_container {
	display:flex;
}

#left_side {
	flex: 30%;
	padding: 20px 40px;
}

#right_side {
	flex : 70%;
	padding: 15px 30px;
}

footer {
	text-align: center;
	background-color: black;
	padding : 20px 40px;
}

footer a {
	background-color: black;
}

footer a:hover{
	background-color : gray;
	color: pink;
}

@media(max-width: 800px) {
	#left_side {
		flex: 100%;
	}
	#right_side {
		flex: 100%;
	}
	#flex_container {
		flex-wrap: wrap;
	}
}

@media(max-width: 400px) {
	#left_side {
		flex: 100%;
	}
	#right_side {
		flex: 100%;
	}
	#flex_container {
		flex-wrap: wrap;
	}
}